version: 2

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:lts-buster

jobs:
  build_and_test:
    <<: *defaults

    environment:
      KEYS_DIR: '/tmp/keys'
      DX_CLI_URL: 'https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz'

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-

      - run:
          name: Node Dependencies
          command: |
            npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}

      - persist_to_workspace:
          root: ~/repo
          paths: .

      - run:
          name: Build Package
          command: |
            npm run build

      - run:
          name: Unit Tests
          command: |
            npm test

      - run:
          name: Salesforce CLI
          command: |
            mkdir sfdx
            wget -qO- ${DX_CLI_URL} | tar xJ -C sfdx --strip-components 1
            ./sfdx/install
            sfdx
            mkdir tmp

      - run:
          name: Other Dependencies
          command: |
            wget -q -O jq 'https://github.com/stedolan/jq/releases/download/jq-1.6/jq-linux64'
            chmod +x jq
            sudo mv jq /bin

      - run:
          name: Create Cert and Key Files
          command: |
            mkdir -p ${KEYS_DIR}
            echo ${SERVER_CRT_BASE64} | base64 -d > ${KEYS_DIR}/server.crt
            echo ${SERVER_KEY_ENC_BASE64} | base64 -d > ${KEYS_DIR}/server.key.enc
            openssl enc \
              -nosalt \
              -aes-256-cbc \
              -d \
              -in ${KEYS_DIR}/server.key.enc \
              -out ${KEYS_DIR}/server.key \
              -base64 \
              -K ${DECRYPTION_KEY} \
              -iv ${DECRYPTION_IV}

      - run:
          name: Setup Org
          command: |
            sfdx force:auth:jwt:grant \
              --clientid ${HUB_CONSUMER_KEY} \
              --jwtkeyfile ${KEYS_DIR}/server.key \
              --username ${HUB_SFDC_USER} \
              --setdefaultdevhubusername \
              -a hub

      - run:
          name: Integration Tests
          working_directory: test/integ
          no_output_timeout: 270m
          environment:
            SALESFORCE_API_VERSION: '50.0'
            TEST_REPORTS_DIR_BASE: test_reports
          command: |
            sfdx config:set defaultusername=${HUB_SFDC_USER}
            ./deploy_and_test_apex.sh

      - store_test_results:
          working_directory: test/integ
          path: test/integ/test_reports

  publish:
    <<: *defaults

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-

      - add_ssh_keys:
          fingerprints:
            - 'eb:79:6a:d5:94:92:0f:75:b8:29:75:8c:56:bd:4a:f2'

      - run:
          name: Update Package Version
          command: |
            npm version --no-git-tag-version version $CIRCLE_TAG -m "[skip ci] Update package version: %s"
            git push origin master

      - run:
          name: Publish NPM Package
          command: |
            echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > ~/repo/.npmrc
            npm publish

non_master: &non_master
  filters:
    branches:
      ignore: master

master_only: &master_only
  filters:
    branches:
      only: master

workflows:
  version: 2
  ci-cd:
    jobs:
      - build_and_test:
          <<: *non_master
      - publish:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d+\.\d+\.\d+$/
